@import "configs";
@import "../utils/mixins";

@each $breakpoint in $breakpoints {

	$name: nth($breakpoint, 1);
	$minSize: nth($breakpoint, 2);
	$maxSize: nth($breakpoint, 3);

	.anim-all-ease-#{$name} {
		transition: all 300ms ease;
	}

	.anim-width-ease-#{$name} {
		transition: width 300ms ease;
	}
}

/**
	BOUNCE
 */
.zm-animation-zoom {
	animation: zmAnimationZoom 600ms ease;
}
@keyframes zmAnimationZoom {
	0% {
		transform: perspective(1rem) translateZ(0);
	}
	50% {
		transform: perspective(1rem) translateZ(0.1rem);
	}
	100% {
		transform: perspective(1rem) translateZ(0);
	}
}


/**
	FADE-IN
 */
.zm-transition-fadeIn,
.zm-transition-fadeIn.enter,
.zm-transition-fadeIn.appear {
	opacity: 0;
}
.zm-transition-fadeIn.appear-active,
.zm-transition-fadeIn.enter-active {
	opacity: 1;
	transition: opacity 300ms ease;
}
.zm-transition-fadeIn.appear-done,
.zm-transition-fadeIn.enter-done {
	opacity: 1;
}
.zm-transition-fadeIn.exit {
	opacity: 1;
}
.zm-transition-fadeIn.exit-active {
	opacity: 0;
	transition: opacity 300ms ease;
}
.zm-transition-fadeIn.exit-done {
	opacity: 0;
}

/**
	SCALE IN
 */
.zm-transition-scaleIn,
.zm-transition-scaleIn.enter,
.zm-transition-scaleIn.appear {
	transform: scale(0);
}
.zm-transition-scaleIn.appear-active,
.zm-transition-scaleIn.enter-active {
	transform: scale(1);
	transition: transform 300ms ease;
}
.zm-transition-scaleIn.appear-done,
.zm-transition-scaleIn.enter-done {
	transform: scale(1);
}
.zm-transition-scaleIn.exit {
	transform: scale(1);
}
.zm-transition-scaleIn.exit-active {
	transform: scale(0);
	transition: transform 300ms ease;
}
.zm-transition-scaleIn.exit-done {
	transform: scale(0);
}

/**
	HEIGHT
 */
html .zm-transition-height.enter,
html .zm-transition-height.appear {
	overflow: hidden;
}
html .zm-transition-height.appear-active,
html .zm-transition-height.enter-active {
	transition: height 300ms ease;
	height: 0;
}
html .zm-transition-height.appear-done,
html .zm-transition-height.enter-done {

}
html .zm-transition-height.exit {
	overflow: hidden;
}
html .zm-transition-height.exit-active {
	transition: height 300ms ease;
	height: 0;
}
html .zm-transition-height.exit-done {
	height: 0;
	overflow: hidden;
}

/**
	SLIDE-FROM-LEFT
 */
.zm-transition-slideFromLeft,
.zm-transition-slideFromLeft.enter,
.zm-transition-slideFromLeft.appear {
	opacity: 0;
	transform: translateX(-4rem);
}
.zm-transition-slideFromLeft.appear-active,
.zm-transition-slideFromLeft.enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: transform 300ms ease, opacity 300ms ease;
}
.zm-transition-slideFromLeft.appear-done,
.zm-transition-slideFromLeft.enter-done {
	opacity: 1;
	transform: translateX(0);
}
.zm-transition-slideFromLeft.exit {
	opacity: 1;
	transform: translateX(0);
}
.zm-transition-slideFromLeft.exit-active {
	opacity: 0;
	transform: translateX(-4rem);
	transition: transform 300ms ease, opacity 300ms ease;
}
.zm-transition-slideFromLeft.exit-done {
	opacity: 0;
	transform: translateX(-4rem);
}

/**
	SLIDE-FROM-RIGHT
 */
.zm-transition-slideFromRight,
.zm-transition-slideFromRight.enter,
.zm-transition-slideFromRight.appear {
	opacity: 0;
	transform: translateX(4rem);
}
.zm-transition-slideFromRight.appear-active,
.zm-transition-slideFromRight.enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: transform 300ms ease, opacity 300ms ease;
}
.zm-transition-slideFromRight.appear-done,
.zm-transition-slideFromRight.enter-done {
	opacity: 1;
	transform: translateX(0);
}
.zm-transition-slideFromRight.exit {
	opacity: 1;
	transform: translateX(0);
}
.zm-transition-slideFromRight.exit-active {
	opacity: 0;
	transform: translateX(4rem);
	transition: transform 300ms ease, opacity 300ms ease;
}
.zm-transition-slideFromRight.exit-done {
	opacity: 0;
	transform: translateX(4rem);
}
