/**
Thanks to https://github.com/hugeinc/flexboxgrid-sass/blob/master/flexboxgrid.scss
 */

@import "configs";
@import "base";
@import "../utils/flex.mixin";

.wrapper {
	box-sizing: border-box;
	max-width: $max-width;
	margin: 0 auto;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
}

@mixin flexboxgrid-sass-col-common {
	box-sizing: border-box;
	@include flex-grow(0);
	@include flex-shrink(0);
}

@each $breakpoint in $breakpoints {

	$name: nth($breakpoint, 1);
	$minSize: nth($breakpoint, 2);
	$maxSize: nth($breakpoint, 3);

	@include breakpointMinSize($minSize, $name != "xs") {

		.row-#{$name} {
			box-sizing: border-box;
			@include flexbox();
			@include flex(0, 1, auto);
			@include flex-direction(row);
			//@include flex-wrap(wrap);
		}

		.column-#{$name} {
			box-sizing: border-box;
			@include flexbox();
			@include flex(0, 1, auto);
			@include flex-direction(column);
			//@include flex-wrap(wrap);
		}

		.row-#{$name}.reverse,
		.column-#{$name}.reverse {
			@include flex-direction(row-reverse);
		}

		.cell-#{$name}.reverse {
			@include flex-direction(column-reverse);
		}

		.cell-#{$name} {
			@include flexboxgrid-sass-col-common;
			@include flex-basis(auto);
		}

		@for $i from 1 through $grid-columns {
			.cell-#{$i}-#{$name} {
				@include flexboxgrid-sass-col-common;
				@include flex-basis(100% / $grid-columns * $i);
				max-width: 100% / $grid-columns * $i;
			}
		}

		@for $i from 0 through $grid-columns {
			.cell-#{$i}-offset-#{$name} {
				@include flexboxgrid-sass-col-common;
				@if $i == 0 {
					margin-left: 0;
				} @else {
					margin-left: 100% / $grid-columns * $i;
				}
			}
		}

		.cell-#{$name} {
			@include flex-grow(1);
			@include flex-basis(0);
			max-width: 100%;
		}

		.content-left-#{$name} {
			@include justify-content(flex-start);
		}

		.content-center-#{$name} {
			@include justify-content(center);
		}

		.content-right-#{$name} {
			@include justify-content(flex-end);
		}

		.content-stretch-#{$name} {
			@include justify-content(stretch);
		}

		.content-around-#{$name} {
			@include justify-content(space-around);
		}

		.content-between-#{$name} {
			@include justify-content(space-between);
		}

		.align-top-#{$name} {
			@include align-items(flex-start);
		}

		.align-self-top#{$name} {
			@include align-self(flex-start);
		}

		.align-middle-#{$name} {
			@include align-items(center);
		}

		.align-self-middle-#{$name} {
			@include align-self(center);
		}

		.align-bottom-#{$name} {
			@include align-items(flex-end);
		}

		.align-self-bottom-#{$name} {
			@include align-self(flex-end);
		}

		.align-stretch-#{$name} {
			@include align-items(stretch);
		}

		.align-self-stretch-#{$name} {
			@include align-self(stretch);
		}

		.first-#{$name} {
			order: -1;
		}

		.last-#{$name} {
			order: 1;
		}
	}
}
